.wrapper {
    position: relative;
}
.wrapper>input {
    width:216px;
    padding: 4px;
}
.datepicker-main {
    position: absolute;
    left:0;
    top:0;
    width: 252px;
    border: 1px solid #ccc;
    background-color: floralwhite;
    -webkit-clip-path: polygon(calc(100% - 27px) 0, 100% 0, 100% 27px, calc(100% - 27px) 27px);
    clip-path: inset(0 0 calc(100% - 27px) calc(100% - 28px));
    transition: 0.5s cubic-bezier(.4,0,.2,1);
    transition-property: clip-path, -webkit-clip-path;
}
input.open+.datepicker-main {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: inset(0 0 0 0);
    z-index: 1;
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 6px;
}
nav>h4, header>h4, header>h2 {
    margin: 6px;
}
nav {
    font-size: 1.4rem;
}
nav>svg>path {
    fill: currentColor;
}
.flipper>svg>path {
    fill: #FFF;
    transition: fill 0.2s;
}
.toggle {
    width: 26px;
    height: 26px;
    position: absolute;
    right:0.5px;
    top:0.5px;
    cursor: pointer;
}
.flipper{
    position:relative;
    height:100%;
    width:100%;
}
.flipper>svg {
    position: absolute;
}
.flipper>svg:last-child>path{
    fill: transparent;
}
input.open+.datepicker-main .flipper>svg:last-child>path {
    fill: #fff;
}
input.open+.datepicker-main .flipper>svg:first-child>path {
    fill: transparent;
}

section, main {
    display: grid;
    grid-template-columns: repeat(7, 33.3px);
    grid-gap: 3px;
}
section>b {
    text-align: center;
}
main>b.today {
    background-color:gainsboro;
}
main>b {
    text-align: right;
    font-weight: normal;
    padding: 8px 8px 8px 0;
}
main>b:not(:empty), header>svg {
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
nav>*:hover{
    background-color: rgba(128,64,0,0.25);
    cursor: pointer;
}
nav>h4 {
    padding: 4px;
}