.datepicker-main {
    width: 328px;
    border: 1px solid #ccc;
    background-color: floralwhite;
}
header {
    background-color: dodgerblue;
    color: white;
    padding: 6px;
}
header>h5, header>h2 {
    margin: 6px;
}
header>svg>path {
    fill: #FFF;
}
section, main {
    display: grid;
    grid-template-columns: repeat(7, 44px);
    grid-gap: 3px;
}
section>b {
    text-align: center;
}
main>b {
    text-align: right;
    font-weight: normal;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}