.wrapper {
    position: relative;
}
.wrapper>input {
    width:245px;
}
.datepicker-main {
    position: absolute;
    left:0;
    top:0;
    width: 252px;
    border: 1px solid #ccc;
    background-color: floralwhite;
    clip-path: inset(6px 6px calc(100% - 28px) calc(100% - 28px));
    transform: translateY(-7px);
    transition: 0.5s cubic-bezier(.4,0,.2,1);
    transition-property: clip-path;
}
input.open+.datepicker-main {
    clip-path: inset(0 0 0 0);
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 6px;
}
nav>h4, header>h4, header>h2 {
    margin: 6px;
}
header>svg>path {
    fill: #FFF;
}
section, main {
    display: grid;
    grid-template-columns: repeat(7, 33.3px);
    grid-gap: 3px;
}
section>b {
    text-align: center;
}
main>b.today {
    background-color:gainsboro;
}
main>b {
    text-align: right;
    font-weight: normal;
    padding: 8px 8px 8px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}