.tabbox {
    padding: 3px;
    transition: height 250ms ease;
}
.tabbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
input[name="_"] {
    height: 1px;
    width: 1px;
    position: absolute;
    opacity: 0.1;
}
.tabbar>label {
    outline: none;
    color: #5080ac;
    padding: 0 12px 3px;
    margin: 0 1px 0 0;
    font-size: 1.2em;
    overflow: hidden;
    /* background-color: #f8f8f8; */
    background: linear-gradient( #f8f8f8 calc(100% - 13px), #d4d4d440);
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 1;
    user-select: none;
    transition: color .3s ease;
}
.container>h1:focus {
    color: white;
    transition-delay: 0.15s;
  }
[for=t0]::before,[for=t1]::before,[for=t2]::before,[for=t3]::before,[for=t4]::before,[for=t5]::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,40,80,0.5);
transition: clip-path .3s ease-in-out;
-webkit-clip-path: inset( calc(100% - 2px) 50% 0 50% );
clip-path: inset( calc(100% - 2px) 50% 0 50% );
z-index: -1;
}
[for=t0]:hover::before,[for=t1]:hover::before,[for=t2]:hover::before,
[for=t3]:hover::before,[for=t4]:hover::before,[for=t5]:hover::before {
clip-path: inset( calc(100% - 4px) 0 0 0 );
}
.container>h1:focus::before {
    -webkit-clip-path: inset( 0 0 0 0 );
    clip-path: inset( 0 0 0 0 );
  }




.tabbar>span {
    flex: 4 0 0;
}
.tw {
    position:relative;
    display: block;
    overflow: hidden;
    height: 100%;/*15em;/*max-content;*/
}
.tw>slot {
    padding: 6px;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    display: inline-block;
}
#t0:checked~div.tabbar>[for=t0],#t1:checked~div.tabbar>[for=t1],#t2:checked~div.tabbar>[for=t2],
#t3:checked~div.tabbar>[for=t3],#t4:checked~div.tabbar>[for=t4],#t5:checked~div.tabbar>[for=t5],
#t6:checked~div.tabbar>[for=t6] {
    color: white;
}
#t0:checked~div.tabbar>[for=t0]::before,#t1:checked~div.tabbar>[for=t1]::before,#t2:checked~div.tabbar>[for=t2]::before,
#t3:checked~div.tabbar>[for=t3]::before,#t4:checked~div.tabbar>[for=t4]::before,#t5:checked~div.tabbar>[for=t5]::before,
#t6:checked~div.tabbar>[for=t6]::before {
    clip-path: inset( 0 0 0 0 );
}

#t0~.tw>.t0,#t1~.tw>.t1,#t2~.tw>.t2,#t3~.tw>.t3,#t4~.tw>.t4,#t5~.tw>.t5,#t6~.tw>.t6 {
    opacity: 0;
    position: absolute;
    top:0;
    transform: translateX(-5em);
    transition: 0.6s ease;
    transition-property: transform, opacity;
}
#t0:checked~.tw>.t0,#t1:checked~.tw>.t1,#t2:checked~.tw>.t2,#t3:checked~.tw>.t3,
#t4:checked~.tw>.t4,#t5:checked~.tw>.t5,#t6:checked~.tw>.t6 {
    display: block;
    opacity: 1;
    transform: translateX(0);
}
